<%- include('partials/header', { title }) -%>

<h1>Signup</h1>

<form method="post" action="/signup">

  <input name="user_email" type="text" placeholder="Email">
  <input name="user_password" type="password" placeholder="Password">

  <button type="submit">Signup</button>

</form>


<%- include('partials/footer') -%>
