<%- include('partials/header', { title }) -%>

<h1>Success registration</h1>
<p><b><%= name %></b>, go to your mailbox <b><%= email %></b> and verify your registration</p>

<%- include('partials/footer') -%>
